{
#foreach ($dft in $dfts)
  DFT {
    Name: $dft.name,
    Id: $dft.id,
  }
#end
#foreach ($dfp in $dfps)
  DFP {
#if ($dfp.dft)    DFT: $dfp.dft.name,
#end
    Name: $dfp.name,
#if ($dfp.description)    Description: $dfp.description,
#end
    InFlows: {
#foreach ($p in $dfp.inFlows.options)
      InFlow: {
        Name: $p.name,
        Id: $p.id,
      }
#end
    }
    OutFlows: {
#foreach ($p in $dfp.outFlows.options)
      OutFlow: {
        Name: $p.name,
        Id: $p.id,
      }
#end
    }
    InPowers: {
#foreach ($p in $dfp.inPowers.options)
      InPower: {
        Name: $p.name,
        Id: $p.id,
      }
#end
    }
    OutPowers: {
#foreach ($p in $dfp.outPowers.options)
      OutPower: {
        Name: $p.name,
        Id: $p.id,
      }
#end
    }
    Client: {
#foreach ($p in $dfp.clients.options)
      Client: {
        Name: $p.name,
        Id: $p.id,
      }
#end
    }
    Server: {
#foreach ($p in $dfp.server.options)
      Server: {
        Name: $p.name,
        Id: $p.id,
      }
#end
    }
  }
#end
  Connections: {
#foreach ($dfp in $dfps)
#foreach ($p in $dfp.inPowers.options)
#foreach ($pair in $p.pairs)
    Connection: {
        Source DFT: $dfp.name ($p.id),
        Source Port: $p.name ($p.id),
        Destination DFT: $pair.parent.name ($pair.parent.id),
        Destination Port: $pair.name ($pair.id),
    }
#end
#end
#foreach ($p in $dfp.inFlows.options)
#foreach ($pair in $p.pairs)
    Connection: {
        Source DFT: $dfp.name ($p.id),
        Source Port: $p.name ($p.id),
        Destination DFT: $pair.parent.name ($pair.parent.id),
        Destination Port: $pair.name ($pair.id),
    }
#end
#end
#foreach ($p in $dfp.servers.options)
#foreach ($pair in $p.pairs)
    Connection: {
        Source DFT: $dfp.name ($p.id),
        Source Port: $p.name ($p.id),
        Destination DFT: $pair.parent.name ($pair.parent.id),
        Destination Port: $pair.name ($pair.id),
    }
#end
#end
#end
  }
}
